*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  /* or 17px */
  color: #131313;
}

/* Header  */

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  margin-right: 73px;
}

.menu__list {
  display: flex;
  gap: 50px;
}

.menu__link:hover {
  background-color: #131313;
  color: #fff;
}

.menu__link {
  text-transform: uppercase;
  padding: 42px 20px;
  transition: all 0.4s ease;
}

/* Main  */

.main {
  padding-top: 100px;
}

.main__wrapper {
  display: flex;
  justify-content: space-between;
}

.main__title:not(:last-child) {
  margin: 75px 0 5px;
}

.main__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 120%; /* 77px/64 */
}

.main__subtitle:not(:last-child) {
  margin: 0 0 60px;
}

.main__subtitle {
  font-size: 32px;
  line-height: 121%; /* 39px/32 */
  color: #6f6f6f;
  font-weight: 400;
}

.main__text {
  max-width: 420px;
}

.main__text_first:not(:last-child) {
  margin: 0 0 20px;
}

.main__text_second:not(:last-child) {
  margin: 0 0 80px;
}

.main-link {
  font-size: 20px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #131313;
  padding: 28px 81px;
  display: inline-block;
  transition: all 0.4s ease;
  width: 420px;
  text-align: center;
  cursor: pointer;
}

.main-link:hover {
  background-color: #ff4040;
}

.main__right {
  flex-basis: 630px;
  max-width: 630px;
}

.mr__slider .slick-dots {
  top: 50px;
  right: 0;
}

.mr__list {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.mr__item {
  display: flex;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  min-width: 160px;
  flex-direction: column;
  align-items: center;
}

.mr__text {
  font-size: 12px;
  line-height: 125%; /* 15/12 */
  font-weight: 400;
  text-transform: lowercase;
  margin: auto 0;
}

.slick-dots {
  position: absolute;
}

.slick-dots li + li {
  padding-top: 10px;
}

.slick-dots button {
  border: none;
  padding: 0;
  font-size: 0;
  background-color: #131313;
  width: 2px;
  height: 25px;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.4s ease;
}

.slick-active button,
.slick-dots button:hover {
  background-color: #ff4040;
}

/*   Info  */

.info {
  padding: 150px 0 50px;
}

.info__wrapper img {
  flex-basis: 570px;
  object-fit: cover;
  margin-right: 60px;
}

.info__box {
  flex-basis: 490px;
}

.info__wrapper {
  display: flex;
}

.info__title:not(:last-child) {
  margin: 0 0 12px;
}

.info-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 118.75%;
  /* 19px/16 */
  text-transform: uppercase;
}

.info__text {
  max-width: 450px;
}

.info__text:not(:last-child) {
  margin: 0 0 69px;
}

.info__text:last-child {
  margin-bottom: 0;
}

/*   About  */

.about {
  padding-top: 100px;
  padding-bottom: 150px;
}

.about__wrapper {
  display: flex;
  gap: 60px;
}

.about__wrapper img {
  align-self: center;
}

.about__box {
  flex-basis: 570px;
}

.about__list + .about__list {
  padding-top: 30px;
}
.about__title,
.oredr__title {
  margin: 0 0 40px;
}

.about__item-title:not(:last-child) {
  margin-bottom: 13px;
}

.about__item-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #131313;
  padding: 2px 0 3px;
}

.about__line {
  display: flex;
  padding-top: 5px;
}

.about__name {
  flex-basis: 285px;
  padding-right: 10px;
}

.about__desc {
  flex-basis: 285px;
}
/*   Slider  */

.slider {
  padding-left: 49px;
  margin-bottom: 50px;
}

.slider .slick-dots {
  top: 0;
  left: 0;
}

/*   Order  */

.order {
  margin-bottom: 100px;
}

.order__wrapper {
  position: relative;
}

.form {
  max-width: 420px;
}

.form__text-first:not(:last-child) {
  margin-bottom: 56px;
}

.form__text-first {
  max-width: 298px;
}

.form__name-inp::placeholder,
.form__tel-inp::placeholder,
.form__text-second {
  opacity: 0.5;
  color: #6f6f6f;
}

.form__text-second:not(:last-child) {
  margin-bottom: 10px;
}

.form__name-inp,
.form__tel-inp {
  border: none;
  border-bottom: 1px solid #131313;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  outline: none;
}

.form__label-box {
  display: flex;
  margin-bottom: 50px;
}

.form__label + .form__label {
  margin-left: 23px;
}

.form__radio:checked + .form__bike {
  display: block;
}

.form__radio {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__bike {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.form__bike-price {
  font-size: 32px;
  line-height: 121.875%; /* 39px/32 */
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 1px solid #ff4040;
  border-radius: 50%;
  transform: translate(-50%);
}

.form__bike-price::after {
  content: "";
  top: 12px;
  border: 1px solid #ff4040;
  height: 100px;
  width: 220px;
  position: absolute;
  border-radius: 50%;
}

.form__radio-style {
  width: 80px;
  height: 12px;
  border-radius: 30px;
  cursor: pointer;
}

.form__radio-style-grey {
  background: #6f6f6f;
}

.form__radio-style-white {
  background: #fff;
  border: 1px solid #6f6f6f;
}

.form__radio-style-red {
  background: #ff4040;
}

/* Footer */

.footer {
  background: #131313;
}

.footer__wrapper {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__policy-link {
  text-decoration: underline;
}

.footer__policy-link,
.footer__span {
  font-size: 12px;
  line-height: 125%; /* 15px/12 */
  text-transform: lowercase;
  color: #ffffff;
}

.footer__social-inst {
  margin-right: 28px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.footer__link-email,
.footer__link-phone {
  display: flex;
  align-items: center;
}

.footer__contacts-img {
  margin-right: 10px;
}
